<%= form_with(model: @room, local: true) do |room| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@room.errors.count, "error") %> エラーが発生しました:</h3>
      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      　<% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= room.label :name, "物件名:" %>
    <%= room.text_field :name %>
  </div>

  <div class="field">
    <%= room.label :rent, "賃料:" %>
    <%= room.text_field :rent %>
  </div>

  <div class="field">
    <%= room.label :adress, "住所:" %>
    <%= room.text_field :adress %>
  </div>

  <div class="field">
    <%= room.label :age, "築年数:" %>
    <%= room.text_field :age %>
  </div>

  <div class="field" id="note">
    <%= room.label :note, "備考:" %>
    <%= room.text_area :note %>
  </div>

  <% n = 0 %>
  <%= room.fields_for :stations do |station| %>
    <div class="field">
      <h3>最寄り駅<%= n+= 1 %></h3>
        <%= station.label :route_name, "路線名:" %>
        <%= station.text_field :route_name %>
        <%= station.label :station_name, "駅名:" %>
        <%= station.text_field :station_name %>
        <%= station.label :minutes, "徒歩所要時間:" %>
        <%= station.text_field :minutes %>
    </div>
  <% end %>

  <div class="actions">
    <%= room.submit %>
  </div>
<% end %>
